<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Son Rice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dnndch4fo/image/upload/v1584188962/Logo_invert_vu32ch.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <!-- <link rel="stylesheet" href="fonts/stylesheet.css" /> -->
    <link rel="stylesheet" href="css/home.css" />
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-auto mx-auto flex-column">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-auto">
        <a class="navbar-brand" th:href="@{/}">
            <img id="navbrand" class="logo" src="https://res.cloudinary.com/dnndch4fo/image/upload/v1584188962/Full_logo_white_h6xwn5.png" alt="Full logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link about-me" href="#">EDIT PROFILE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link about-me" href="#">ABOUT ME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ILLUSTRATION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GAME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FILM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">3D ART</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.artstation.com%2Fsonrice%3Ffbclid%3DIwAR3GxU-1iA5w3a3Lh_yQnzBgQr1O1ebPkFMk9x4v5qsmslKrBOVpm7rMk5U&h=AT0XfmJLS6N-6D16EzQh9PyTePQKJ-JRV6bPSrHpc8zJfeA-zYil557fh2DkKJE9RK52mslac6I2W2dTDiijA04BxYZux4PiSCX3SrVdzlVRmM4ci6OwsUqBu6knDxL0X43G1w">
                        <img src="https://res.cloudinary.com/dnndch4fo/image/upload/v1584194464/artstation_k6cihv.png" class="icon"/>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/Sonriceart/">
                        <img src="https://res.cloudinary.com/dnndch4fo/image/upload/v1584194465/fb_nsj9di.png" class="icon"/>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://www.instagram.com/son.rice.art/?fbclid=IwAR1m6d1g3GxShyHJBvErW6kAucjbDvdJU-ytePO5qm0cWMVGZ_AFPj7w5ms">
                        <img src="https://res.cloudinary.com/dnndch4fo/image/upload/v1584194464/insta_zxv164.png" class="icon"/>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--Navbar-->
    <div class="bg">
    </div>
    <!--Main-->
    <div class="layer"></div>
    <main role="main" class="inner cover">
        <img src="https://citopoto.sirv.com/Images/sonrice/ava21.webp" id="ava2">
        <div class="intro">
            <h1 id="hello" class="cover-heading">HI, I'M SON RICE</h1>
            <p class="">I'M CREATIVE DIRECTOR AT RAW STUDIO ALSO WORK IN ILLUSTRATION & 3D ARTIST</p>
            <a th:href="@{/contact}"><button type="button" class="btn btn-primary btn-xs">CONTACT ME</button></a>
        </div>
    </main>
    <footer class="mastfoot mt-auto">

    </footer>
</div>
<!--Main-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</body>

</html>